.masthead {
    background-image: url('/assets/images/banner-keyboard.webp');
    height: 45vh; 
    min-height: 300px;
    background-position: center;
    filter: brightness(80%);
    color: white;
}
