/* Path: project\app\static\css\style.css */

.skill-logo {
    width: 40px;
    height: h100;
    margin-right: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* add style for index.html */
