/* COMMOM */
.lead {
    line-height: 1.8;
}

.skill-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    object-fit: contain;
}

/* NARBAR */

nav .navbar {
    transition: all 200ms linear;
}

nav .navbar-brand {
    padding-right: 100px;
    font-size: 2rem;
    font-family: 'Ysabeau SC', sans-serif;
    font-weight: bold;
    letter-spacing: -0.8px;
    color: rgb(236, 174, 1);
}

nav .navbar-brand:hover {
    color: rgb(3, 75, 143)
}

nav .nav-item a {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 5px;
    text-align: center;
    font-family: "Nunito", sans-serif;
    color: #172281;
}

nav .nav-item a:hover {
    color: rgb(236, 174, 1);
}

nav .nav-item li:hover>a {
    color: #000000;
}

nav .navbar .btn {
    font-size: 1.2rem;
    font-family: 'Ysabeau SC', sans-serif;
}

.nav-colored {
    background-color: #ffffff !important;
    box-shadow: 0 8px 16px 0 rgba(59, 58, 51, 0.2);
}

.nav-transparent {
    background-color: transparent !important;
}

/* SIDE NAVBAR */
.nav-menu {
    padding: 0;
    display: block;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #45505b;
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: #f2f3f5;
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus i {
    font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
    padding: 0 5px 0 7px;
    color: #45505b;
}

@media (min-width: 992px) {

    .nav-menu a,
    .nav-menu a:focus {
        width: 56px;
    }

    .nav-menu a span,
    .nav-menu a:focus span {
        display: none;
        color: #fff;
    }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    color: #fff;
    background: #0563bb;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
    color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
    width: 100%;
    color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
    display: block;
}


/* SECTION TITLE */
.section-title {
    text-align: center;
    padding: 30px;
}
  
.section-title h1 {
    font-family: 'Ysabeau SC', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: #37517e;
    position: relative;
}

.section-title h1::before,
.section-title h1::after {
    content: "";
    width: 50px;
    height: 2px;
    background: #3498db;
    display: inline-block;
}

.section-title h1::before {
    margin: 0 15px 10px 0;
}

.section-title h1::after {
    margin: 0 0 10px 15px;
}

/* PRELOADER */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: aliceblue;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #37517e;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* BACK TO TOP BUTTON */
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: rgb(236, 174, 1);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #6776f4;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/* FOOTER */
#footer {
    font-size: 14px;
    padding: 50px 0 0 0;
    background: #3c67c41e;
}

#footer .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-contact h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(236, 174, 1);
}

#footer .footer-contact h4 {
    font-size: 24px;
    margin: 20px 0 10px 0;
    line-height: 24px;
    font-weight: 400;
    color: #5e5e5e;
    color: black;
}

#footer .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin: 15px 0 0 0;
    font-family: "Jost", sans-serif;
    color: #5e5e5e;
}

#footer h4 {
    font-size: 16px;
    font-weight: bold;
    color: #37517e;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-links {
    margin-bottom: 30px;
}

#footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-links ul i {
    padding-right: 2px;
    color: #1e7299;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-links ul a {
    color: #535353;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
}

#footer .footer-links ul a:hover {
    color: #37517e;
    font-weight: bold;
}


#footer .social-links a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #37517e;
    color: #fff;
    margin: 0 10px;
}

#footer .social-links i {
    font-size: 20px;
}

#footer .social-links a:hover {
    background: #209dd8;
    color: #fff;
    text-decoration: none;
}



/* For the switch language */

.fade-from-right {
    animation: fadeFromRight 0.5s ease-in-out forwards;
}

@keyframes fadeFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-to-left {
    animation: fadeToLeft 0.5s ease-in-out forwards;
}

@keyframes fadeToLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}


/* Fade in animation */
.fade-in {
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
