.display-1,
.display-2,
.display-6 {
  color: #172281;
  font-family: 'Ysabeau SC', sans-serif;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h1 {
  font-family: 'Ysabeau SC', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: #37517e;
  position: relative;
}

.section-title h1::before,
.section-title h1::after {
    content: "";
    width: 50px;
    height: 2px;
    background: #3498db;
    display: inline-block;
}

.section-title h1::before {
    margin: 0 15px 10px 0;
}

.section-title h1::after {
    margin: 0 0 10px 15px;
}


/* HERO */

.hero {
  /* width: 100%; */
  height: 100vh;
  background: url(/assets/images/hero-bg.png) top center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.hero .display-3 {
  color: #172281;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.hero i {
  font-size: 1.8rem;
  margin: 5px;
}

.hero a {
  border-radius: 50%;
  background: white;
  margin: 10px;
  background-color: #000000;
  color: white;
  transition: all 0.3s ease-in-out;
}

.hero a:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  background-color: #172281;
  color: white;
}

.hero span {
  color: #ffc400;
  font-weight: bold;
}

.hero .animated {
  animation: up-down 1.5s ease-in-out infinite alternate-reverse both;
}


@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}



/* PRESENTATION */

#presentation {
  /* background: linear-gradient(135deg, rgb(186, 211, 235) 0%, rgba(255, 255, 255, 1) 50%, rgba(155, 197, 236, 0.39) 100%); */
  padding: 15px;
  /* background-color: aliceblue; */
  background: linear-gradient(120deg, rgb(186, 211, 235) 0%, rgba(255, 255, 255, 1) 50%, rgba(155, 197, 236, 0.39) 100%);
}

#presentation .container-xxl {
  background-color: aliceblue;
}

#presentation .btn {
  background-color: #3b4ad1;
  color: white;
  border-radius: 10px;
  font-family: 'Ysabeau SC', sans-serif;
  font-size: 1.2rem;
}

#presentation .btn:hover {
  background-color: #1f2da3;
  color: white;
}


/* SERVICES */

#services {
  /* background-color: white; */
  /* background: url("/assets/images/banner-keyboard.webp"); */
  /* background: url("/tmp/images/slider-tl2.jpg"); */
/* 
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding: 15px;
  color: white; */
  /* background-color: rgb(186, 211, 235); */
  /* background: linear-gradient(45deg, rgb(186, 211, 235) 0%, rgba(255, 255, 255, 1) 50%, rgba(155, 197, 236, 0.39) 100%); */
  background: linear-gradient(
    145deg, 
    rgba(168, 213, 255, 0.678) 0%,
    rgba(156, 93, 21, 0.103) 70%, 
    rgba(155, 197, 236, 0.808) 100%
  );
}

#services .accordion-item {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-bottom: 20px;
  border: 1px solid #0000004d;
}

#services .accordion-button,
#services .accordion-header {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: #263d66;
}

#services .accordion-button i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
}

#services .accordion-body {
  background-color: #dddcdcb0;
}

#services .accordion-body .lead {
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 350;
}

#services .accordion-item:hover {
  /* transform: translateY(-10px) scale(1.01); */
  transition: all 0.5s ease;
}

#services .accordion-button:hover,
#services .accordion-button:focus,
#services .accordion-button:active,
#services .accordion-button:not(.collapsed) {
  background: #0084ff46;
  box-shadow: none;
}

#cloudSolutionHeader i {
  color: #2db6fa;
  background: #dbf3fe;
}

#automationHeader i {
  color: #ffbb00;
  background: #fff9db;
}

#monitoringHeader i {
  color: #8c00ff;
  background: #f2e9ff;
}

#trainingHeader i {
  color: #ff0000;
  background: #ffe6e6;
}

#devStrategieHeader i {
  color: #01ce01;
  background: #e6ffe6;
}

#sourceCodeHeader i {
  color: #ff00ff;
  background: #ffe6ff;
}


/* CERTIFICATIONS */

#certifications {
  /* background: linear-gradient(135deg, rgb(186, 211, 235) 0%, rgba(255, 255, 255, 1) 50%, rgba(155, 197, 236, 0.39) 100%); */
  background-color: #f3f5fa;
}

#certifications .badge {
  color: black;
}

#certifications img {
  width: 160px;
  height: 160px;
  margin: 10px;
}

#certifications img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}


/* SKILLS */

#skills {
  /* background: linear-gradient(135deg, rgb(186, 211, 235) 0%, rgba(255, 255, 255, 1) 50%, rgba(155, 197, 236, 0.39) 100%); */
  background: linear-gradient(120deg, rgb(186, 211, 235) 0%, rgba(255, 255, 255, 1) 50%, rgba(155, 197, 236, 0.39) 100%);
}

.skills .skills-container {
  text-align: center;
}

.skills #skills-filters {
  list-style: none;
  margin-top: 50px;
}

.skills #skills-filters li {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  display: inline-block;
  margin: 10px 5px;
  padding: 8px 20px;
  font-weight: 500;
  border-radius: 50px;
  color: #161515;
  transition: all 0.3s;
}

.skills #skills-filters li:hover,
.skills #skills-filters li.filter-active {
  background: #4786e4;
  color: #fff;
}

.skill-item {
  background-color: #81818156;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.skill-item:hover {
  transform: scale(1.1);
  background-color: #7c7c7c7c;
}

.skills .img-fluid {
  transform: scaleX(-1);
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  /* background: linear-gradient(45deg, rgb(186, 211, 235) 0%, rgba(255, 255, 255, 1) 50%, rgba(155, 197, 236, 0.39) 100%); */
  background: linear-gradient(
    45deg, 
    rgba(168, 213, 255, 0.678) 0%,
    rgba(46, 21, 156, 0.103)  50%, 
    rgba(155, 197, 236, 0.808) 100%
  );
}

.contact .info {
  width: 100%;
  border-radius: 15px;
  border-top: 3px solid #4786e4;
  border-bottom: 3px solid #4786e4;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.contact .info i {
  font-size: 20px;
  color: #4786e4;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37517e;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #6182ba;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #4786e4;
  color: #fff;
}

.contact .email-form {
  width: 100%;
  border-radius: 15px;
  border-top: 3px solid #4786e4;
  border-bottom: 3px solid #4786e4;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .email-form .form-group {
  margin-bottom: 20px;
  padding-bottom: 8px;
}

.contact .email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .email-form .error-message {
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .email-form .error-message br+br {
  margin-top: 25px;
}

.contact .email-form .sent-message {
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .email-form .loading {
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .email-form label {
  padding-bottom: 8px;
}

.contact .email-form input,
.contact .email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .email-form input:focus,
.contact .email-form textarea:focus {
  border-color: #4786e4;
}

.contact .email-form input {
  height: 44px;
}

.contact .email-form textarea {
  padding: 10px 12px;
}

.contact .email-form button[type=submit] {
  background: #4786e4;
  border: 0;
  padding: 12px 34px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .email-form button[type=submit]:hover {
  background: #209dd8;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Join newsletter
--------------------------------------------------------------*/

.footer-newsletter {
  padding: 50px 0;
  background: #f3f5fa;
  text-align: center;
  font-size: 15px;
  color: #444444;
}

.footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}

.footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 110px);
}

.footer-newsletter form .nextBtn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  font-size: 16px;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.footer-newsletter form input[type=submit] {
  background: #47b2e4;
}

.footer-newsletter form input[type=submit]:hover {
  background: #209dd8;
}

.footer-newsletter #loading-notify {
  background: #e79f47;
}

.footer-newsletter #loading-notify:before {
  content: "";
  display: inline-flex;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 2px 10px 0 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.footer-newsletter #validated-notify {
  background: #27ce27b7;
}

.footer-newsletter #error-notify {
  background: #ff2600ce;
}
