.display-1,
.display-2,
.display-6 {
  color: #172281;
  font-family: 'Ysabeau SC', sans-serif;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h1 {
  font-family: 'Ysabeau SC', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: #37517e;
  position: relative;
}

.section-title h1::before,
.section-title h1::after {
    content: "";
    width: 50px;
    height: 2px;
    background: #3498db;
    display: inline-block;
}

.section-title h1::before {
    margin: 0 15px 10px 0;
}

.section-title h1::after {
    margin: 0 0 10px 15px;
}


/* HERO */

.hero {
  /* width: 100%; */
  height: 100vh;
  background: url(/assets/images/hero-bg.png) top center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.hero .display-3 {
  color: #172281;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.hero i {
  font-size: 1.8rem;
  margin: 5px;
}

.hero a {
  border-radius: 50%;
  background: white;
  margin: 10px;
  background-color: #000000;
  color: white;
  transition: all 0.3s ease-in-out;
}

.hero a:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  background-color: #172281;
  color: white;
}

.hero span {
  color: #ffc400;
  font-weight: bold;
}

.hero .animated {
  animation: up-down 1.5s ease-in-out infinite alternate-reverse both;
}


@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

#main {
    background: linear-gradient(
      /* 135deg, */
      90deg,
      rgb(186, 211, 235) 0%,
      rgba(255, 255, 255) 50%,
      rgb(186, 211, 235) 100%);
}

/* PRESENTATION */

#presentation {
  padding: 15px;

}
#presentation .container-xxl {
  background-color: rgb(241, 246, 250);
}

#mainPhoto {
  max-height: 50vh;
  background-color: white;
}


#presentation .btn {
  background-color: #3b4ad1;
  font-family: 'Ysabeau SC', sans-serif;
  font-size: 1.1rem;
}

#presentation .btn:hover {
  background-color: #1f2da3;
}

/* SERVICES */

#services .icon-box {
  text-align: center;
  padding: 20px;
  /* padding: 70px 20px 80px 20px; */
  transition: all ease-in-out 0.3s;
  background: #fff;
}

#services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

#services .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

#services .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

#services .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

#services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

#services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

#services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}

#services .icon-box:hover .icon i {
  color: #fff;
}

#services .iconbox-blue i {
  color: #47aeff;
}

#services .iconbox-blue:hover .icon path {
  fill: #47aeff;
}

#services .iconbox-orange i {
  color: #ffa76e;
}

#services .iconbox-orange:hover .icon path {
  fill: #ffa76e;
}

#services .iconbox-pink i {
  color: #e80368;
}

#services .iconbox-pink:hover .icon path {
  fill: #e80368;
}

#services .iconbox-yellow i {
  color: #ffbb2c;
}

#services .iconbox-yellow:hover .icon path {
  fill: #ffbb2c;
}

#services .iconbox-red i {
  color: #ff5828;
}

#services .iconbox-red:hover .icon path {
  fill: #ff5828;
}

#services .iconbox-teal i {
  color: #11dbcf;
}

#services .iconbox-teal:hover .icon path {
  fill: #11dbcf;
}


/* CERTIFICATIONS */

#certifications .badge {
  color: black;
  margin: 5px;
}

#certifications .badge img {
  width: 160px;
  height: 160px;
  margin: 10px;
}

#certifications .badge:hover img{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}


/* SKILLS */

.skills #skills-filters {
  list-style: none;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.skills #skills-filters li {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  display: inline-block;
  margin: 10px 5px;
  padding: 8px 20px;
  font-weight: 500;
  border-radius: 50px;
  color: #161515;
  transition: all 0.3s;
}

.skills #skills-filters li:hover,
.skills #skills-filters li.filter-active {
  background: #4786e4;
  color: #fff;
}

.skill-item {
  padding: 5px; 
  margin: 5px; 
  text-align: center;
  border-radius: 5px;
  /* background-color: #81818156; */
  background-color: white;
  border: #00000048 solid 1px;
  transition: all 0.3s ease-in-out;
}

.skill-item:hover {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.144);
  background-color: #7c7c7c7c;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/


.contact .info {
  width: 100%;
  border-radius: 15px;
  border-top: 3px solid #4786e4;
  border-bottom: 3px solid #4786e4;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.contact .info i {
  font-size: 20px;
  color: #4786e4;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37517e;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #6182ba;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #4786e4;
  color: #fff;
}

.contact .email-form {
  width: 100%;
  border-radius: 15px;
  border-top: 3px solid #4786e4;
  border-bottom: 3px solid #4786e4;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .email-form .form-group {
  margin-bottom: 20px;
  padding-bottom: 8px;
}

.contact .email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .email-form .error-message {
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .email-form .error-message br+br {
  margin-top: 25px;
}

.contact .email-form .sent-message {
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .email-form .loading {
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .email-form label {
  padding-bottom: 8px;
}

.contact .email-form input,
.contact .email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .email-form input:focus,
.contact .email-form textarea:focus {
  border-color: #4786e4;
}

.contact .email-form input {
  height: 44px;
}

.contact .email-form textarea {
  padding: 10px 12px;
}

.contact .email-form button[type=submit] {
  background: #4786e4;
  border: 0;
  padding: 12px 34px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .email-form button[type=submit]:hover {
  background: #209dd8;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Join newsletter
--------------------------------------------------------------*/

.footer-newsletter {
  padding: 50px 0;
  background: #f3f5fa;
  text-align: center;
  font-size: 15px;
  color: #444444;
}

.footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}

.footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 110px);
}

.footer-newsletter form .nextBtn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  font-size: 16px;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.footer-newsletter form input[type=submit] {
  background: #47b2e4;
}

.footer-newsletter form input[type=submit]:hover {
  background: #209dd8;
}

.footer-newsletter #loading-notify {
  background: #e79f47;
}

.footer-newsletter #loading-notify:before {
  content: "";
  display: inline-flex;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 2px 10px 0 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.footer-newsletter #validated-notify {
  background: #27ce27b7;
}

.footer-newsletter #error-notify {
  background: #ff2600ce;
}
