/* COMMON */

h1 {
    /* margin: 20px 0 10px 0; */
    padding: 15px 0;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #37517e;
    letter-spacing: -0.5px ;
}

p {
    margin: 20px 0;
    font-size: 1rem;
    color: #575757;
}

ul li {
    color: #575757;
}


.masthead {
    margin: 75px 0 50px 0;
    /* height: 30vh; */
    background-image: url("/assets/images/blog_bg.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    filter: brightness(90%);
    color: white;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

.masthead h1 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.masthead ul {
    list-style: none;
    padding-left: 0;
}

.masthead ul li {
    display: inline-block;
    margin: 0 10px;
}

.masthead ul li+li::before {
    display: inline-block;
    padding-right: 10px;
    content: "/";
}

.masthead ul li a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

.masthead ul li a:hover {
    text-decoration: underline;
    color: #7498d6;
}




/* SIDE PANEL */
.card-header {
    background-color: #37517e;
    color: white;
    font-weight: bold;
    text-align: center;
}

 #categories a {
    color: #193564;
    font-size: 1rem;
    text-decoration: none;
}

#categories  a:hover {
    text-decoration: underline;
    color: #7498d6;
}


/* BLOG CARD */

.card-title {
    font-weight: bold;
    color: #37517e;
    font-size: 1.4rem;
}

.card-text {
    color: #575757;
}

#freelancing img {
    height: 350px;
    object-fit: cover;
    object-position: 50% 60%;
}

.blogpost {
    margin-bottom: 50px;
}

/* Heading Row */

.blogpost img {
    max-width: 900px;
    max-height: 400px;
    object-fit: cover;
    object-position: 50% 60%;
}

.contentTable {
    padding: 20px;
    /* border: #0a314b solid 1px;
    background-image: url("https://png.pngtree.com/background/20210712/original/pngtree-grunge-parchment-paper-background-picture-image_1181720.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #575757; */
}

.contentTable h2 {
    margin-bottom: 20px;
}

.contentTable ol li {
    margin-bottom: 10px;
}

.contentTable ol li a {
    color: #193564;
    font-size: 1rem;
    text-decoration: none;
}

.contentTable ol li a:hover {
    text-decoration: underline;
    color: #7498d6;
}

.contentTable ol ol li {
    margin-bottom: 0;
    list-style: outside;
    padding-left: 0;
}


main h2 {
    font-size: 1.6rem;
    font-family: 'Ysabeau SC', sans-serif;
    margin: 20px;
}


#blog {
    background-color: aliceblue;
    padding: 0 25px 55px 55px;
}

.blogImg{
    width: 70%;
    height: 400px;
    object-fit: cover;
    /* object-position: 50% 60%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}


#sideMedia a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #6c91d3;
    color: #fff;
    margin: 0 10px;
}

#sideMedia i {
    font-size: 20px;
}

#sideMedia a:hover {
    background: #209dd8;
    color: #fff;
    text-decoration: none;
}

pre {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    font-size: 0.9rem;
}

pre code {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    overflow-x: auto;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: #193564;
}

article li a,
p a {
    color: #193564;
    font-size: 1rem;
    /* bold */
    font-weight: 600;
    /* text-decoration: none; */
}