
/* For the switch language */

.fade-from-right {
    animation: fadeFromRight 0.5s ease-in-out forwards;
}

@keyframes fadeFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-to-left {
    animation: fadeToLeft 0.5s ease-in-out forwards;
}

@keyframes fadeToLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}