.skill-logo {
    width: 40px;
    height: h100;
    margin-right: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}

.list-group-item:hover {
    box-shadow: 0 8px 16px 0 rgba(139, 3, 3, 0.2);
}

/* header background gradient */
/* header {
    background: linear-gradient(90deg, #61636e 0%, #0c41f1 100%);
}

nav {
    background: linear-gradient(90deg, #61636e 0%, #0c41f1 100%);
} */