

.navbar {
    background-color: transparent !important;
    transition: background-color 0.5s ease;
}

.navbar-scrolled {
    background: linear-gradient(90deg, #200c55 0%, #1b5bd3cb 100%);
}
 

.carousel-item img{
    height: 48vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
    object-fit: cover;
    object-position: center;
}

.carousel-caption h1 {
    font-size: 4rem; /* Adjust as needed */
    font-weight: bold; /* Adjust as needed */
}

.carousel-caption .lead {
    font-size: 2rem; /* Adjust as needed */
    font-weight: normal; /* Adjust as needed */
}

.skill-logo {
    width: 40px;
    height: h100;
    margin-right: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}

.list-group-item:hover {
    box-shadow: 0 8px 16px 0 rgba(139, 3, 3, 0.2);
}


header i {
    color: rgb(173, 18, 38);
}

header i:hover {
    color: rgb(173, 132, 18);
}

/* For the switch language */

.fade-from-right {
    animation: fadeFromRight 1s ease-in-out;
}

@keyframes fadeFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
