<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.0/css/all.css"
        />
        <link rel="stylesheet" href="../static/css/style.css" />
        <title>My portfolio</title>
    </head>
    <body>
        <!--nav bar  -->
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container">
                <a class="navbar-brand" href="/">My portfolio</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="/about">About me</a>
                        <a class="nav-link disabled" href="/projects"
                            >Projects</a
                        >
                        <a class="nav-link disabled" href="/experiences"
                            >Experiences</a
                        >
                        <a class="nav-link disabled" href="/contact">Contact</a>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Main content -->
        <div class="container mt-5">
            <!-- About Me Section -->
            <div class="row justify-content-center align-items-center">
                <div class="col-md-8">
                    <h2 class="mt-5">About Me</h2>
                    <p class="lead">
                        I am a seasoned DevOps engineer with a strong foundation
                        in software development and extensive experience across
                        various industries, including finance and defense. My
                        expertise lies in ensuring the reliability,
                        availability, and scalability of complex software
                        systems. My passion for leveraging technology to solve
                        business problems and deliver value to end-users drives
                        me to seek new challenges and opportunities in the
                        software development industry.
                    </p>
                    <p class="lead">
                        With a proven track record in developing and optimizing
                        continuous integration and delivery (CI/CD) pipelines,
                        automating build and deployment processes, and working
                        with microservices architectures, I am committed to
                        making a positive impact and delivering results that
                        exceed expectations.
                    </p>
                </div>
                <div class="col-md-4">
                    <img
                        src="../static/images/photo2.jpeg"
                        alt="Paul BOURHIS"
                        class="img-fluid rounded-circle"
                        style="width: 80%"
                    />
                </div>
            </div>

            <!-- Skills & Expertise Section -->
            <div class="row justify-content-center align-items-center g-2">
                <h2 class="mt-5">Skills & Expertise</h2>
                <p class="lead">
                    My skills and expertise encompass a broad
                    range of technical and managerial aspects, empowering me to
                    excel in software development and DevOps engineering roles.
                    I am proficient in programming languages such as Python,
                    C/C++, and Bash scripting and have experience in creating
                    custom test platforms and high-performance applications.
                </p>
                <p class="lead">
                    I specialize in constructing and optimizing continuous
                    integration and delivery pipelines, ensuring swift and
                    dependable software delivery. I am adept at containerization
                    technologies like Docker and have experience deploying
                    applications on cloud platforms like AWS and Azure. My
                    background also entails designing and implementing
                    infrastructure to support microservices-based systems, and I
                    excel in establishing robust monitoring and alerting systems
                    using tools like Prometheus, Logstash, Elasticsearch, and
                    Grafana.
                </p>
                <p class="lead">
                    In addition to building and maintaining infrastructure, I am
                    skilled in automating build and deployment processes with
                    tools like Ansible and Jenkins. My expertise in Linux
                    administration enables me to effectively manage Linux remote
                    servers in both cloud and on-premise environments and work
                    with various Linux distributions such as Debian and RedHat.
                    Furthermore, I have a solid background in developing unit,
                    integration, functional, and performance tests and
                    implementing rigorous testing procedures. Equipped with this
                    diverse skill set and expertise, I am prepared to tackle
                    complex challenges and make a significant impact on any
                    project in the software development and DevOps engineering
                    fields.
                </p>
            </div>

            <!-- Education Section -->
            <div class="row justify-content-center align-items-center g-2">
                <h2 class="mt-5">Education</h2>
                <!-- Ensea -->
                <div class="row justify-content-start align-items-center">
                    <h3>ENSEA</h3>
                    <div class="col">
                        <img
                            src="../static/images/ensea.png"
                            alt="ENSEA"
                            class="img-fluid"
                            style="width: 85px"
                        />
                    </div>
                    <div class="col-md-11">
                        <p class="lead">
                            Master's Degree in Applied Mathematics and Computer
                            Science
                        </p>
                        <p class="lead">2016 - 2019</p>
                        <p class="lead">
                            I graduated from
                            <em
                                >École Nationale Supérieure de l'Électronique et
                                de ses Applications (ENSEA)
                            </em>
                            in 2019 with a degree in Applied Mathematics,
                            Computer science and Electronic. My third-year
                            studies concentrated on embedded systems and IT,
                            while my second year explored automation and the
                            Internet of Things. My participation in
                            extracurricular activities at ENSEA contributed to
                            the development of my leadership and organizational
                            skills.
                        </p>
                    </div>
                </div>

                <!-- Classe preparatoire -->
                <div class="row justify-content-start align-items-center">
                    <h3>Preparatory class</h3>
                    <div class="col">
                        <img
                            src="https://fetelemur.com/wp-content/uploads/2021/11/Logo-ville-de-Vannes-Patch-blanc.png"
                            alt="ENSEA"
                            class="img-fluid"
                        />
                    </div>
                    <div class="col-md-11">
                        <p class="lead">
                            Intensive Preparatory Course for French Grandes
                            Écoles
                        </p>
                        <p class="lead">2013 - 2016</p>
                        <p class="lead">
                            I completed a rigorous three-year preparatory course
                            (PTSI-PT) at Lycée A.R-Lessage, which provided an
                            intensive foundation in Physics, Mathematics, and
                            Computer Science. This program was designed to
                            prepare students for the competitive entrance
                            examinations to France's top-tier Grandes Écoles,
                            ensuring a strong foundation in science subjects.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Hobbies & Interests Section -->
            <div class="row justify-content-center align-items-center g-2">
                <h2 class="mt-5">Hobbies & Interests</h2>
                <div
                    class="row justify-content-center align-items-center m-2 g-2"
                >
                    <div class="col-md-10">
                        <p class="lead">
                            Outside of my professional life, I have a diverse
                            range of hobbies that contribute to a well-rounded
                            and fulfilling lifestyle. Sports play a significant
                            role in my leisure time, with grappling being a
                            particular favorite. Practicing grappling not only
                            keeps me physically active but also helps develop
                            mental resilience and strategic thinking.
                        </p>
                    </div>
                    <div class="col">
                        <!-- rounded img -->
                        <img
                            src="https://contents.mediadecathlon.com/b71403/k$1bd9420f24387634786c6b2b39f31f67/1800x0/600pt400/983xcr737/PHOTO_INT_BOXES_article_grappling.jpg?format=auto"
                            alt="Grappling"
                            class="img-fluid rounded-circle"
                        />
                    </div>
                </div>

                <div
                    class="row justify-content-center align-items-center m-3 g-2"
                >
                    <div class="col">
                        <img
                            src="https://images.g2crowd.com/uploads/product/image/social_landscape/social_landscape_e0760a96c15fae1be3755e9fd95971f2/codingame-for-work.png"
                            alt="Codingame"
                            class="img-fluid rounded-circle"
                            style="width: 300px"
                        />
                    </div>
                    <div class="col-md-10">
                        <p class="lead">
                            Moreover, I enjoy indulging in Python coding games,
                            which provide a fun and engaging way to improve my
                            programming skills and stay up-to-date with the
                            latest technologies. These coding challenges allow
                            me to flex my creative muscles while honing my
                            problem-solving abilities. (Follow me on Codingame:
                            <a
                                href="https://www.codingame.com/profile/4b5773cbdde094de9f6a53d1d6bf74688903853"
                                >paul_bhs</a
                            >
                            )
                        </p>
                    </div>
                </div>

                <div
                    class="row justify-content-center align-items-center m-3 g-2"
                >
                    <p class="lead">
                        In addition to these hobbies, I am deeply committed to
                        working on personal development projects. By investing
                        my time and effort into these projects, I can explore
                        new ideas, learn new technologies, and refine my skills
                        in software development and engineering. These personal
                        endeavors enable me to continuously grow, both
                        personally and professionally, and stay at the forefront
                        of the ever-evolving tech industry. You can find a few
                        of my projects on my Github:
                        <a href="https://github.com/Pyodin">Pyodin</a>
                    </p>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="bg-light pt-1">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-6 align-self-center">
                        <h5>Contact</h5>
                        <p>
                            <i class="fas fa-envelope me-2"></i
                            >paul_bourhis@yahoo.com
                        </p>
                        <p>
                            <i class="fas fa-phone-alt me-2"></i>+33 6 99 29 45
                            22
                        </p>
                        <p><i class="fas fa-map-marker-alt me-2"></i>Paris</p>
                    </div>

                    <div class="col-md-6 align-self-center">
                        <h5>Social Media</h5>
                        <!-- Linkedin -->
                        <a
                            class="btn text-white btn-floating m-1"
                            style="background-color: #0082ca"
                            href="https://www.linkedin.com/in/paul-bourhis-375557153/"
                            role="button"
                            ><i class="fab fa-linkedin-in"></i
                        ></a>

                        <!-- Github -->
                        <a
                            class="btn text-white btn-floating m-1"
                            style="background-color: #333333"
                            href="https://github.com/Pyodin"
                            role="button"
                            ><i class="fab fa-github"></i
                        ></a>

                        <!-- Instagram -->
                        <a
                            class="btn text-white btn-floating m-1"
                            style="background-color: #af36af"
                            href="https://www.instagram.com/paulbhs/"
                            role="button"
                            ><i class="fab fa-instagram"></i
                        ></a>
                    </div>
                </div>
            </div>
            <div class="text-center bg-secondary">
                © Built on my own. Find the source code
                <a
                    class="text-white"
                    href="https://github.com/Pyodin/website-portfolio"
                    >here</a
                >
            </div>
        </footer>

        <!-- Bootstrap Bundle with Popper -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
