/* NARBAR */
.navbar {
    transition: all 200ms linear;
}

.navbar-brand {
    padding-right: 100px;
    font-size: 2rem;
    font-family: 'Ysabeau SC', sans-serif;
    font-weight: bold;
    letter-spacing: -0.8px;
    color: rgb(236, 174, 1);
}

.navbar-brand:hover {
    color: rgb(3, 75, 143)
}

.nav-item a {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 5px;
    text-align: center;
    font-family: "Nunito", sans-serif;
    color: #172281;
}

.nav-item a:hover {
    color: rgb(236, 174, 1);
}

.nav-item li:hover>a {
    color: #000000;
}

.navbar .btn {
    font-size: 1.2rem;
    font-family: 'Ysabeau SC', sans-serif;
}

.nav-colored {
    background-color: #ffffff !important;
    box-shadow: 0 8px 16px 0 rgba(59, 58, 51, 0.2);
}

.nav-transparent {
    background-color: transparent !important;
}


/* BACK TO TOP BUTTON */
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: rgb(236, 174, 1);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #6776f4;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  

/* COMMOM */

.lead {
    line-height: 1.8;
    /* font-weight: 350; */
    /* letter-spacing: 0.6px;  */
    /* font-size: 1.2rem; */
    /* font-family: 'Lato', sans-serif; */
    /* font-weight: bold; */
}

h4, h3 {
    letter-spacing: -1.5px;
}

 
ul b,
h2, h3, h4, 
.display-6,
.fs-4,
.fs-5 {
    font-family: 'Ysabeau SC', sans-serif;
}

.skill-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    object-fit: contain ;
}

.card:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 8px 16px 0 rgba(59, 58, 51, 0.2);
    transition: all 0.35s ease;
    z-index: 2;
}

body {
    background: linear-gradient(135deg, rgb(186, 211, 235) 0%, rgba(255,255,255,1) 40%, rgba(155, 197, 236, 0.39) 100%);
}

.container-xxl {
    background-color: aliceblue;
}

footer .lead {
    line-height: 1.1;
}


/* For the switch language */

.fade-from-right {
    animation: fadeFromRight 0.5s ease-in-out forwards;
}

@keyframes fadeFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-to-left {
    animation: fadeToLeft 0.5s ease-in-out forwards;
}

@keyframes fadeToLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}


/* Fade in animation */
.fade-in {
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Fade out animation */
.fade-out {
    animation: fadeOut 1s ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

