.display-1, 
.display-2,
.display-6 {
    color: #172281;
    font-family: 'Ysabeau SC', sans-serif;
}

#navbar2 {
    /* position fixed */
    /* position: fixed; */
}

/* HERO */

.hero {
    /* width: 100%; */
    height: 100vh;
    background: url(/assets/images/hero-bg.png) top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero .display-3 {
    color: #172281;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
}

.hero i {
    font-size: 1.8rem;
    margin: 5px;
}

.hero a {
    border-radius: 50%;
    background: white;
    margin: 10px;
    background-color: #000000;
    color: white;
    transition: all 0.3s ease-in-out;
}

.hero a:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    background-color: rgb(160, 150, 255);
} 

.hero span {
    color: #ffc400;
    font-weight: bold;
}



/* MAIN */

#presentation .btn {
    background-color: #172281;
    color: white;
    border-radius: 30px;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 1.2rem;
}

#presentation .btn:hover {
    background-color: #3d4bc9;
    color: white;
}

#mainPhoto {
    max-width: 500px;
    width: 100%;
    /* margin: auto; */
}

/* SERVICES */

#services {
    /* background: linear-gradient(135deg, rgb(186, 211, 235) 0%, rgba(255,255,255,1) 40%, rgba(155, 197, 236, 0.39) 100%); */
    /* background: url(/assets/images/hero-bg.png) top center no-repeat; */
    background-color: white;
}

.accordion-body .lead {
    font-size: 0.9rem;
    font-family: "Nunito", sans-serif;
    /* font-weight: 350; */
}

.accordion-item {
    /* border-radius: 10px; */
    margin: 20px;
    background: none;
    border: none;
}

.accordion-header {
    border-radius: 10px;
    border: none;
    background: none;
}

.accordion-button {
    border-radius: 10px;
    border: none;
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem;
    color: #37517e;
}

.accordion-item:hover {
    border-radius: 10px;
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 8px 16px 0 rgba(59, 58, 51, 0.2);
    transition: all 0.35s ease;
}

.accordion-button i {
    font-size: 2rem;
    min-width: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50%;
}

.accordion-body {
    background-color: #dddcdcb0;
    border-radius: 20px;
}


#cloudSolutionHeader .accordion-button {
    border: 1px solid #2db6fab4;
    border-radius: 20px;
}

#cloudSolutionHeader i {
    color: #2db6fa;
    background: #dbf3fe;
}

#cloudSolutionHeader .accordion-button:hover i {
    color: #2db6fa;
    background:  white;
}

#cloudSolutionHeader .accordion-button:hover,
#cloudSolutionHeader .accordion-button:focus, 
#cloudSolutionHeader .accordion-button:active,
#cloudSolutionHeader .accordion-button:not(.collapsed) {
    color: white;
    background: #2db6fa;
    box-shadow: none;
}


#automationHeader .accordion-button {
    border: 1px solid #ffbb0075;
    border-radius: 20px;
}

#automationHeader i {
    color: #ffbb00;
    background: #fff9db;
}

#automationHeader .accordion-button:hover i {
    color: #ffbb00;
    background:  white;
}

#automationHeader .accordion-button:hover,
#automationHeader .accordion-button:focus,
#automationHeader .accordion-button:active,
#automationHeader .accordion-button:not(.collapsed) {
    color: white;
    background: #ffbb00;
    box-shadow: none;
}


#monitoringHeader .accordion-button {
    border: 1px solid #8c00ff79;
    border-radius: 20px;
}

#monitoringHeader i {
    color: #8c00ff;
    background: #f2e9ff;
}

#monitoringHeader .accordion-button:hover i {
    color: #8c00ff;
    background:  white;
}

#monitoringHeader .accordion-button:hover,
#monitoringHeader .accordion-button:focus,
#monitoringHeader .accordion-button:active,
#monitoringHeader .accordion-button:not(.collapsed) {
    color: white;
    background: #8c00ff;
    box-shadow: none;
}


#trainingHeader .accordion-button {
    border: 1px solid #ff00007a;
    border-radius: 20px;
}

#trainingHeader i {
    color: #ff0000;
    background: #ffe6e6;
}

#trainingHeader .accordion-button:hover i {
    color: #ff0000;
    background:  white;
}

#trainingHeader .accordion-button:hover,
#trainingHeader .accordion-button:focus,
#trainingHeader .accordion-button:active,
#trainingHeader .accordion-button:not(.collapsed) {
    color: white;
    background: #ff0000;
    box-shadow: none;
}


#devStrategieHeader .accordion-button {
    border: 1px solid #01ce0198;
    border-radius: 20px;
}

#devStrategieHeader i {
    color: #01ce01;
    background: #e6ffe6;
}

#devStrategieHeader .accordion-button:hover i {
    color: #01ce01;
    background:  white;
}

#devStrategieHeader .accordion-button:hover,
#devStrategieHeader .accordion-button:focus,
#devStrategieHeader .accordion-button:active,
#devStrategieHeader .accordion-button:not(.collapsed) {
    color: white;
    background: #01ce01;
    box-shadow: none;
}


#sourceCodeHeader .accordion-button {
    border: 1px solid #ff00ff7a;
    border-radius: 20px;
}

#sourceCodeHeader i {
    color: #ff00ff;
    background: #ffe6ff;
}

#sourceCodeHeader .accordion-button:hover i {
    color: #ff00ff;
    background:  white;
}

#sourceCodeHeader .accordion-button:hover,
#sourceCodeHeader .accordion-button:focus,
#sourceCodeHeader .accordion-button:active,
#sourceCodeHeader .accordion-button:not(.collapsed) {
    color: white;
    background: #ff00ff;
    box-shadow: none;
}


/* CERTIFICATIONS */

.certRow img {
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 50%;
    margin: 10px;
}

.certRow img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.certRow .azbadge img {
    border: #085cda 3px solid;
    padding: 5px;
}


/* SKILLS */

#portfolio {
    /* background: linear-gradient(45deg, rgb(186, 211, 235) 0%, rgba(255,255,255,1) 40%, rgba(155, 197, 236, 0.39) 100%); */
    background-color: white;
}

.portfolio-item {
    background-color: #7c7c7c3e;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.portfolio-item:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.skillRow .card {
    background-color: rgba(255, 243, 75, 0.062);
    border-radius: 10px;
    margin: 20px;
}  

.skillRow .card-title {
    font-family: "Nunito", sans-serif;
}

.skillRow .card-body p {
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem;
    line-height: 1.8;
    font-weight: 350;
    letter-spacing: -0.6px;
}

.skillRow .card-img-top {
    height: 100%;
    object-fit: cover;
    margin: auto;
}

.skillRow .list-group-item {
    border: none;
    /* background: white; */
}


/* EXPERIENCES TIMELINE */

#experiences {
    background: none;
}

.timeline {
    position: relative;
}

.timeline:after {
    content: "";
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 50%;
    width: 8px;
    background: linear-gradient(rgb(7, 48, 87), rgb(7, 142, 233) );
    border-radius: 3px;
    z-index: 1;
}

.timeline .card {
    position: relative;
    width: calc( 50% - 40px );
    border-radius: 30px;
    background: #ffffff;
    z-index: 2;

}

.timeline .card-header {
    border: #000000 1px solid;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: #ffbb00c7;
}

.timeline .card .card-title {
    font-weight: bold;
}

.timeline .card:before {
    /* content is the emoji suitcase */
    content: "\1F4BC";
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    position: absolute;
    top: 40%;
    left: calc( 100% + 26px );
    background: #ffffff;
    width: 40px;
    height: 40px;
    border: 6px #ffc400 solid;
    border-radius: 50%;
    z-index: 2;
}

.timeline .card:after {
    content: "";
    position: absolute;
    top: 40%;
    left: 100%;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 20px solid #616060cc;
    border-bottom: 20px solid transparent;
}

.timeline .card:nth-child(even) {
    margin-left: calc( 50% + 48px );
}

.timeline .card:nth-child(even):before {
    left: auto;
    right: calc( 100% + 26px );
}

.timeline .card:nth-child(even):after {
    left: auto;
    right: 100%;
    border-left: none;
    border-right: 20px solid #616060cc;
}

/* # TESTS */

.section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
  }
  
  .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }



/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
    background-color: aliceblue;
}

.contact .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    background: #fff;
  }
  
  .contact .info-box i {
    font-size: 32px;
    color: #47b2e4;
    border-radius: 50%;
    padding: 8px;
  }
  
  .contact .info-box h3 {
    font-size: 20px;
    color: #2c4964;
    font-weight: 700;
    margin: 10px 0;
  }
  
  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    background: #fff;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 5px;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input:focus,
  .contact .php-email-form textarea:focus {
    border-color: #5846f9;
  }
  
  .contact .php-email-form input {
    padding: 10px 15px;
  }
  
  .contact .php-email-form textarea {
    padding: 12px 15px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: #5846f9;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 5px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: #7b27d8;
  }

  .portfolio #portfolio-flters {
    list-style: none;
    margin-bottom: 20px;
  }

  
.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    margin: 10px 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    transition: all 0.3s;
    padding: 8px 20px;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
  }
  
  .portfolio #portfolio-flters li:hover,
  .portfolio #portfolio-flters li.filter-active {
    background: #47b2e4;
    color: #fff;
  }