body {
    background: linear-gradient(90deg, rgb(186, 211, 235) 0%, rgba(255,255,255,1) 40%, rgba(155, 197, 236, 0.39) 100%);
}

.masthead {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaEkLLsOTmOcgLhxJAD12JpNj3TYpiQTqQ6A&usqp=CAU') center top no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    height: 60vh; 
    filter: brightness(80%);
    color: white;
}


.masthead .lead {
    font-size: 2rem; 
    font-weight: normal; 
}

a {
    color: black;
}

.display-5 {
    margin-top: 50px;
}

.paragraph {
    margin-bottom: 50px;
}

footer .btn i {
    font-size: 1.8rem;
    margin: 5px;
}

footer .btn {
    background: white;
    margin: 20px;
    background-color: #000000;
    color: white;
    transition: all 0.3s ease-in-out;
}

footer .btn:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    background-color: rgb(160, 150, 255);
}
