.masthead {
    background-image: url('/static/images/banner-keyboard.webp');
    height: 48vh; 
    min-height: 300px;
    background-position: center;
    filter: brightness(80%);
    color: white;
}

.masthead h1 {
    font-size: 4rem; 
    font-weight: bold; 
}

.masthead .lead {
    font-size: 2rem; 
    font-weight: normal; 
}

a {
    color: black;
}
