body {
    background: linear-gradient(90deg, rgb(186, 211, 235) 0%, rgba(255,255,255,1) 40%, rgba(155, 197, 236, 0.39) 100%);
}

.masthead {
    margin: 75px 0 50px 0;
    height: 30vh;

    background-image: url("/assets/images/blog_bg.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    filter: brightness(90%);
    color: white;
}

.masthead .text {
    text-align: center;
    padding-top: 45px;
}

.masthead h1 {
    font-size: 3rem;
    font-weight: bold;
}

.masthead .lead {
    font-size: 2rem; 
    font-weight: normal; 
}

#freelaneImg {
    width: 850px;
    height: 350px;
    object-fit: cover; 
    object-position: 50% 60%;
}

a {
    color: black;
}

.display-5 {
    margin-top: 50px;
}

.paragraph {
    margin-bottom: 50px;
}
